@font-face {
    font-family: 'Nekst';
    src: url('/fonts/nekst/Nekst-Regular.otf');
    src: local('Nekst Regular'), local('Nekst-Regular'), url('/fonts/nekst/Nekst-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: url('/fonts/nekst/Nekst-Bold.otf');
    src: local('Nekst Bold'), local('Nekst-Bold'), url('/fonts/nekst/Nekst-Bold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: url('/fonts/nekst/Nekst-Black.otf');
    src: local('Nekst Black'), local('Nekst-Black'), url('/fonts/nekst/Nekst-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: url('/fonts/nekst/Nekst-Light.otf');
    src: local('Nekst Light'), local('Nekst-Light'), url('/fonts/nekst/Nekst-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: url('/fonts/nekst/Nekst-Medium.otf');
    src: local('Nekst Medium'), local('Nekst-Medium'), url('/fonts/nekst/Nekst-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: url('/fonts/nekst/Nekst-SemiBold.otf');
    src: local('Nekst SemiBold'), local('Nekst-SemiBold'), url('/fonts/nekst/Nekst-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: url('/fonts/nekst/Nekst-Thin.otf');
    src: local('Nekst Thin'), local('Nekst-Thin'), url('/fonts/nekst/Nekst-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
